@import "basicelements.css";
@import "header.css";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/* Project Explore mode */
@font-face {
	font-family: "Stone Sans";
	src: url("../fonts/StoneSansProITC-Medium.otf");
	font-display: swap;
}
@font-face {
	font-family: "Stone Sans";
	src: url("../fonts/Stone Sans ITC TT Bold.ttf");
	font-display: swap;
	font-weight: bold;
}
@font-face {
	font-family: "Stone Sans";
	src: url("../fonts/StoneSansProITC-BoldItalic.otf");
	font-display: swap;
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Stone Sans";
	src: url("../fonts/StoneSansProITC-MediumItalic.otf");
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: "Highlander";
	src: url("../fonts/HighlanderStd-Book.otf");
	font-display: swap;
}
@font-face {
	font-family: "Highlander";
	src: url("../fonts/highlanderstd-bold.otf");
	font-display: swap;
	font-weight: bold;
	size-adjust: 125%;
}


/* General variables */
:root {
	--black: black;
	--text: #050933;
	--dark-gray: #b8b8b8;
	--light-gray: #ddd;
	--white: white;
	
	--main: #873cff;
	--lighter-main: #af7cff;
	--light-main: #9d5fff;
	--dark-main: #6d2bd6;
	
	--text-size: 14pt;
	--text-size-small: 10pt;
	--text-size-smaller: 8pt;
	--text-size-large: 18pt;
	--text-size-larger: 24pt;
	
	--border-dark-gray: solid 4px var(--dark-gray);
	--border-light-gray: solid 2px var(--light-gray);
}

:root.prex {
	--text: #2c2e35;
	--main: #449c3c;
	--light-main: #bbd85e;
	--lighter-main: #ddfa7f;
	--dark-main: #227a1a;
}

body {
	margin: 0;
	color: var(--text);
	background-color: white;
	font-family: "Noto Sans", sans-serif;
	font-size: var(--text-size);
}

:root.prex body {
	font-family: "Stone Sans", "Noto Sans", sans-serif;
}

#content {
	margin: 0.75em;
}
#start {
	overflow: auto;
	margin-top: -1.75em;
}