@import "basicelements.css";
@import "header.css";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* General variables */
:root {
	--black: black;
	--text: #050933;
	--dark-gray: #b8b8b8;
	--light-gray: #ddd;
	--white: white;
	
	--main: #873cff;
	--lighter-main: #af7cff;
	--light-main: #9d5fff;
	--dark-main: #6d2bd6;
	
	--text-size: 14pt;
	--text-size-small: 10pt;
	--text-size-smaller: 8pt;
	--text-size-large: 18pt;
	--text-size-larger: 24pt;
	
	--border-dark-gray: solid 4px var(--dark-gray);
	--border-light-gray: solid 2px var(--light-gray);
}

:root.prex {
	--main: #c61a2c;
	--light-main: #d83e3a;
	--lighter-main: #dd6355;
	--dark-main: #aa1028;
}

body {
	margin: 0;
	color: var(--text);
	background-color: white;
	font-family: "Noto Sans", sans-serif;
	font-size: var(--text-size);
}

#content {
	margin: 0.75em;
}
#start {
	overflow: auto;
	margin-top: -1.75em;
}