#header {
	background-color: var(--main);
	margin-bottom: 0.5rem;
	width: 100%;
	height: 4rem;
	color: white;
	font-size: var(--text-size-larger);
	white-space: nowrap;
	overflow: hidden;
	box-shadow: 0 0.1em 0.3em var(--dark-gray);
}
#header-content {
	display: flex;
	align-items: center;
	padding-left: 0.5em;
	height: 100%;
}

.header-item {
	margin-right: 0.5em;
	font-size: var(--text-size-large);
}
.header-item.logo {
	font-size: var(--text-size-larger);
	width: auto;
}
.header-input {
	overflow-x: auto;
	scrollbar-width: none;
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
}
.header-item.logo {
	display: flex;
	align-items: middle;
}
.header-item.logo > img {
	width: 3rem;
	height: auto;
	margin-right: 0.25em;
	filter: drop-shadow(0 0 0.5rem var(--lighter-main));
}
@media screen and (max-width: 768px) {
	.header-item.logo > .name {
		display: none;
	}
}

.header-item.projtitle {
	background-color: var(--dark-main);
	width: 100%;
	scrollbar-width: thin;
}
.header-item.projid {
	background-color: var(--white);
	color: var(--text);
	width: 25em;
}
.header-item.projid::placeholder {
	color: var(--light-gray);
	opacity: 1;
}
.header-item.button {
	cursor: pointer;
}

#upload-input {
	display: none;
}
.upload-image {
	width: 2.5rem;
	height: auto;
}