<html>
	<head>
		<meta charset="UTF-8">
		<title>Project Explorer</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<link href="css/general.css" rel="stylesheet">
		<link href="css/seeinside.css" rel="stylesheet">
	</head>
	<body class="see-inside">
		<div id="app">
			<navbar></navbar>
			<div id="content">
				<div id="project" v-if="projectReady">
					<div class="project-grid">
						<div id="tabs-area" v-if="selectedSprite >= 0">
							<sprite-tab
								v-bind:name='"General"'
								v-bind:id="0"
							></sprite-tab>
							<sprite-tab
								v-bind:name='"Code"'
								v-bind:id="1"
							></sprite-tab>	
							<sprite-tab
								v-bind:name='"Costumes"'
								v-bind:id="2"
							></sprite-tab>	
							<sprite-tab
								v-bind:name='"Sound"'
								v-bind:id="3"
							></sprite-tab>
						</div>
					</div>
					<div class="project-grid" id="general-area">
						<sprite-list
							v-bind:sprite="{id: -1, name: 'General'}"
							class="sprite-general"
						></sprite-list>
					</div>
					<div class="project-grid" id="info-area">
						<div v-if="selectedSprite>=0">
							<div class="padded-info" id="general-tab" v-if="selectedTab===0">
								<sprite-info
									v-bind:sprite="project.sprites[selectedSprite]"
								></sprite-info>	
							</div>
							<div class="padded-info" id="code-tab" v-if="selectedTab===1" v-bind:sprite="project.sprites[selectedSprite]">
								<code-info
									v-bind:sprite="project.sprites[selectedSprite]"
								></code-info>	
							</div>
							<div id="costumes-tab" class="asset-tab" v-if="selectedTab===2">
								<div class="asset-list">
									<div class="asset-list-inner">
										<asset-li
											v-for="asset in project.sprites[selectedSprite].costumes"
											v-bind:key="asset.id"
											v-bind:asset="asset"
										></asset-li>
									</div>
								</div>
								<div class="asset-view" v-if="selectedAsset >= 0">
									<asset-view
									v-bind:url="project.sprites[selectedSprite].costumes[selectedAsset].url"
									v-bind:is-sound="0"
									></asset-view>
								</div>
							</div>
							<div id="sound-tab" class="asset-tab" v-if="selectedTab===3">
								<div class="asset-list">
									<div class="asset-list-inner">
										<asset-li
											v-for="asset in project.sprites[selectedSprite].sounds"
											v-bind:key="asset.id"
											v-bind:asset="asset"
										></asset-li>
									</div>
								</div>
								<div class="asset-view" v-if="selectedAsset >= 0">
									<asset-view
									v-bind:url="project.sprites[selectedSprite].sounds[selectedAsset].url"
									v-bind:is-sound="1"
									></asset-view>
								</div>
							</div>
						</div>
						<div v-else>
							<b>Total blocks: </b> {{project.blockCount}}<br>
							<b>Total comments: </b> {{project.commentCount}}<br>
							<b>Scratch version: </b> {{project.meta.scratchVer}}<br>
							<b>Scratch VM version: </b> {{project.meta.vmVer}}<br>
							<b>Browser / operating system: </b> {{project.meta.browserOS}}<br>
						</div>
					</div>
					<div class="project-grid" id="sprites-area">
						<sprite-list
							v-for="sprite in project.sprites"
							v-bind:key="sprite.id"
							v-bind:sprite="sprite"
						></sprite-list>
					</div>
				</div>
				<div id="projectmessage" v-if="projectReady == 0">
					{{projectMessage}}
				</div>
			</div>
		</div>
		
		<script src="js/methods.js"></script>
		<script src="js/components.js"></script>
		<script src="js/general.js"></script>
		<script>
		//Load a project
		(function(){
			v.promptForProject();
		})();
		/*
			Test projects:
				10128407: Paper Minecraft
				500000000: 500000000th Project of Scratch !
				293945436: WBP WORKSPACE - DO NOT READ (High asset stress test)
				534013689: Just Mineral Fish & Their Soundtracks
				1: Project 1
		*/
		</script>
	</body>
</html>